#gameScreen {
    border: 1px solid black;
}

#gameInfo {
    display: flex;
}

#levelInfo {
    margin-left: 2rem;
}

img {
    display: none;
}

.endGame {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 500px;
    max-height: 300px;
    background: white;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    
  }

.endGame h2{
    font-size: 30px;
    margin: 0;
}

.endGame p{
    font-size: 20px;
    margin: 0;
}
