#gameScreen {
    border: 1px solid black;
}

#gameInfo {
    display: flex;
}

#levelInfo {
    margin-left: 2rem;
}

img {
    display: none;
}

.endGame {
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -200px;
    background: white;
    text-align: center;
  }