/* :root{
    --dark-primary-color: black;
    --default-primary-color: #607D8B;
    --light-primary-color: #CFD8DC; 
    --text-primary-color: #FFFFFF;
    --text-dark-primary-color: #212121; 
    --secondary-text-color: var(--secondary-text-color);
    --accent-color:black;
    --divider-color: #BDBDBD; 
} */
/* :root{
--dark-primary-color: #5D4037; 
--dark-primary-color: #795548;
--light-primary-color:#757575; 
--text-primary-color:  #009688; 
--accent-color:#FFFFFF;
--primary-text-color: #212121; 
--secondary-text-color: #757575; 
--divider-color: #BDBDBD; 
} */
:root{
--dark-primary-color:#455A64; 
--default-primary-color:#607D8B; 
--light-primary-color:  #CFD8DC; 
--text-primary-color: #FFFFFF; 
--accent-color: #9E9E9E; 
--primary-text-color: #212121; 
--secondary-text-color: #757575; 
--divider-color: #BDBDBD; 
}
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;  
    scroll-behavior: smooth;
    max-width: 1200px;
}

/* navbar */

.navigation{   
    z-index: 3; 
    margin: 0 auto; 
    margin-top: 0;   
    height: auto;
    width: 100vw;
    padding: 0px;
    background: black;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-align: center;
    justify-content: space-evenly;
    color:#CFD8DC;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid var(--accent-color);
}

.navigation ul li{
    margin: 0.2em 0px;
    list-style: none;
}
.navigation > .logo{
    align-self: flex-start;
    width: 5em;
}

.logo{
    border: 3px var(--text-dark-primary-color) solid;
    margin: auto 0;
}

.position {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    margin-left: 0;
    margin-right: 0;
}   

a.nav{
    text-decoration: none;
    color: #CFD8DC;
    text-transform: uppercase;
    padding: 6px;    
}

a.nav:hover {
    font-weight: bold;
}

.menu:hover{
    background: var(--text-dark-primary-color);
}


/* hero section */
#rightArrow{
cursor: pointer;
/* margin: auto, 3em; */
color: black;
}

.hero{
    display: flex;
    min-height: 540px;
    background-image: url('/src/hero.jpg');
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-primary-color);
    align-items: center;
    margin-top: 80px;
    border-top: 2px solid var(--accent-color);    
}
.hero--image1 {
background-image: url("/src/1.jpeg");
transition: background-image 1s ease-in-out;
}
.hero--image2 {
background-image: url("/src/2.jpeg");
transition: background-image 1s ease-in-out;
}
.hero--image3{
background-image: url("/src/3.jpeg"); 
transition: background-image 1s ease-in-out;
}
.hero--image4{
    background-image: url("/src/hero.jpg"); 
    transition: background-image 1s ease-in-out;
    }
.hero__header{
    background: rgb(41, 38, 38, 0.62);
    text-align: center;
    /* width: 50%; */
    /* height: 25%; */
     
    padding: 2em;
    text-align: center;
    justify-content: center;
    margin-bottom: 1em;
    }
.hero__header > h3{
text-transform: uppercase;
}
h3 > a{
    color: white;
}


/*calculator*/
.calculator{
    font-size: medium;
    background: #607D84;  
}
.calculator>h1{
    color: white;
    text-align: center;
    padding: 1em;
}
.discount, .paragraf{
    color: white;
    padding: .4em;
}
.calculator>p{
    color: white;
    padding: .4em;
}
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

/* functionalities */

#functionalities{
    background: var(--light-primary-color);
    border-top: 2px solid var(--accent-color);
}

.ul__functionalities i {       
    color: var(--text-dark-primary-color);
    padding: 5px;
    border: 3px solid var(--text-dark-primary-color);
    border-radius: 10px;
}

li.ul__functionalities{
    flex: 1 1 25%;
    padding: 1rem;  
}

.description{
    padding: 1rem;
}

.section__functionalities{
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    justify-content: space-around;     
    padding: 2rem;   
    align-items: center; 
}

.ul__functionalities{
    flex: 1 1 25%;
    margin: 0;
    color: var(--text-dark-primary-color);     
    text-align: center;
    align-items: center;
}

/* section-extra*/

.section-extra_funcionality-1 {
    grid-area: func1;
}

.section-extra_funcionality-2 {
    grid-area: func2;
}

.section-extra_funcionality-3 {
    grid-area: func3;
}

.section-extra_funcionality-4 {
    grid-area: func4;
}

.section-extra_funcionality-5 {
    grid-area: func5;
}

.section-extra_funcionality-6 {
    grid-area: func6;
}

.section-extra_funcionality-7 {
    grid-area: func7;
}

.section-extra_funcionality-8 {
    grid-area: func8;
}

.section-extra {
    background: var(--dark-primary-color);
    border-top: 2px solid var(--accent-color);
    color: var(--text-primary-color);
    display: grid;		
    grid-template-columns: 4rem 1fr 4rem;
    grid-template-rows: 3rem repeat(7, 1fr) 1rem;
    grid-template-areas: 
        ".    .    ."
        ". func1 ."
        ". func2 ."
        ". func3 ."
        ". func4 ."
        ". func5 ."
        ". func6 ."
        ". func7 ."
        ".   .   .";
}

.section-extra_funcionality {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.section-extra_funcionality p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section-extra_funcionality .fa-3x {
    color: var(--text-primary-color);
}

.contact {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background: var(--default-primary-color);
    color: var(--text-primary-color);
    padding: 6rem 1.5rem 7rem 1.5rem;
    border-top: 2px solid var(--accent-color);
}

.contact--emphasis {
    color: var(--accent-color);
}

.contact__heading {
    padding-bottom: 4rem;
    font-size: 1.5rem;
}

.contact p, .contact__email, .contact__button {
    font-size: 1.25rem;
}

.contact__container {
    text-align: center;
    max-width: 535px;
}

form {
    display: flex;
    flex-direction: column;
}

.contact__email, .contact__button {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
}

.contact__email {
    background: var(--light-primary-color);
    color: var(--text-dark-primary-color);
    margin-bottom: 0.75rem; 
}

.contact__button {
    background: var(--accent-color); 
    color: var(--text-dark-primary-color);  
    width: 100%;
    margin-bottom: 4rem; 
}

.contact__button:hover {
    background: var(--dark-primary-color);
    color: var(--text-primary-color);
    cursor: pointer;
}

.aboutUs {
    background: var(--light-primary-color);
    color: var(--dark-primary-color);
    border-top: 2px solid var(--accent-color);
}

.aboutUs__heading{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 6rem;
    padding-bottom: 4.5rem;
}

.aboutUs__bio{
    display: flex;
    flex-direction: column;
    background: var(--light-primary-color);
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10.75rem;
}
.aboutUs__img1, .aboutUs__img2 {
    padding-top: 0.5rem;
    padding-bottom: 3.5rem;
}

.aboutUs__img3 {
    padding-top: 0.5rem;
}

.aboutUs__img:hover .aboutUs__card, .aboutUs__card--back{
    transform: rotateY( 180deg );
    
}

@keyframes rotate {
    from {transform: rotateY( 0deg );}
    50% {transform: rotateY( 180deg );}
    to {transform: rotateY( 360deg );}
}
  
.aboutUs__card {
    transition: transform 0.7s;
    transform-style: preserve-3d;
    width: 250px;
    height: 250px;
}

.aboutUs__card--animation {
    animation: rotate ease-out 2.5s;
}
  
.aboutUs__card--front, .aboutUs__card--back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.aboutUs__card--back {
    display: flex;
    align-items: center;
    background: var(--dark-primary-color);
}

.aboutUs__card--back a .fa-3x {
    color: var(--light-primary-color);
}

.aboutUs__card--front img{
    border: 2px solid var(--dark-primary-color);
    display: block;
    width: 100%; 
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
}

.aboutUs__caption {
    align-self: center;
}

.aboutUs p {
    font-size: 1.25rem;
    text-align: center;
}

footer {
    width:100%;
    background: var(--default-primary-color);
    color: var(--text-primary-color);
    text-align: center;
    padding: 0.7rem;
}

.footer{
    font-size: 1rem;
    padding-top: 0.35rem;
}

@media screen and (min-width: 600px){
    .hero{
        background-repeat: no-repeat;
    }

    .hero__header{
        font-size: medium;
        border-radius: 2em;
        width: 80%;
        align-self: center;
        justify-content: center;
     
    }

    .section__functionalities{
        flex-direction: row;
    }

    .section-extra {
        grid-template-columns: 1.5rem 1fr 1.5rem 1fr 1.5rem;
        grid-template-rows: 1.5rem repeat(4,1fr) 1.5rem;
        grid-template-areas: 
            ".   .   .   .   ."
            ". func1 . func2 ."
            ". func3 . func4 ."
            ". func5 . func6 ."
            ". func7 func7 func7 ."
            ".   .   .   .   .";
    }

    .aboutUs__bio{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            "c1 c2 c3"
            "p1 p2 p3";
    }

    .aboutUs__card {
        width: 190px;
        height: 190px;
    }

    .aboutUs__img1, .aboutUs__img2 {
        padding-bottom: 0rem;
    }
    
    .aboutUs__img1{
        grid-area: p1;
    }
    
    .aboutUs__img2{
        grid-area: p2;
    }
    
    .aboutUs__img3{
        grid-area: p3;
    }

    .aboutUs__caption1 {
        grid-area: c1;
    }
    
    .aboutUs__caption2 {
        grid-area: c2;
    }
    
    .aboutUs__caption3 {
        grid-area: c3;
    }

    .aboutUs__caption {
        justify-self: center;
        margin: 0;
        
    }

    .aboutUs__caption ul {
        flex-direction: column;
    }
    
}

@media screen and (min-width: 800px){
    #rightArrow, #leftArrow{
        cursor: pointer;
        margin: auto, 3em;
        }
    .navigation {
        flex-direction: row;
        justify-content: space-between; 
    }

    .menu{
        display: flex;
    }

     a.nav {
        color: #CFD8DC;
        padding: 7px 10 px 6px;
        margin: 7px;
        flex-shrink: 1;
    }

   .position{
       display: flex;
       align-items: center;
       padding-right: 10px;       
    }  

   .nav{
       border-radius: 10px;
       margin-right: 5px;
       padding: 10px;
       flex-shrink: 1;
       
   }
   .logo{
       display: block;
       align-self: center;
       justify-self: flex-start;
       margin: 0;
    }

    a.nav:hover {
        font-weight: lighter;
       color: #607D8B;
    }

    .menu:hover {
        background: none;
    }
    .hero{
        display: flex;
    }

    .hero__header{
      
        margin-top: 0em;
        /* width: 50%; */
        align-items: center;
        justify-items: flex-end;
    }
    
    .section-extra {
        grid-template-columns: 4rem 1fr 2rem 1fr 4rem;
    }

    .aboutUs__card {
        width: 250px;
        height: 250px;
    }

}

@media screen and (min-width: 1000px){

    .section-extra {
        grid-template-columns: 9rem 1fr 5rem 1fr 9rem;
    }

}

/* Cookie part */

#cookieAlert * {
    margin: 0px;
    padding: 0px;
}

#cookieAlert {
    position: fixed;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #323334;
    padding: 20px;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#cookieAlert h5 {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 7px;
}

#cookieAlert p {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 1.5em;
    text-align: justify;
    
}

#cookieAlert a {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    line-height: 22px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #ff6000;
    }

#cookieAlert a:hover {
    background-color: #ff7925;
}

.hidden{
    display: none;
}
@media screen and (min-width: 1000px){
    #rightArrow, #leftArrow{
        cursor: pointer;
        margin: auto, 15em;
    }
}