* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;  
}

/* section-extra styling */

.section-extra_funcionality-1 {
    grid-area: func1;
}

.section-extra_funcionality-2 {
    grid-area: func2;
}

.section-extra_funcionality-3 {
    grid-area: func3;
}

.section-extra_funcionality-4 {
    grid-area: func4;
}

.section-extra_funcionality-5 {
    grid-area: func5;
}

.section-extra_funcionality-6 {
    grid-area: func6;
}

.section-extra_funcionality-7 {
    grid-area: func7;
}

.section-extra_funcionality-8 {
    grid-area: func8;
}

.section-extra {
    background: #455A64;
    color: #FFFFFF;
    display: grid;		
    grid-template-columns: 4rem 1fr 4rem;
    grid-template-rows: 3rem repeat(8, 1fr) 1rem;
    grid-template-areas: 
        ".    .    ."
        ". func1 ."
        ". func2 ."
        ". func3 ."
        ". func4 ."
        ". func5 ."
        ". func6 ."
        ". func7 ."
        ". func8 ."
        ".    .  .";
}

.section-extra_funcionality {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.section-extra_funcionality p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Only in my section icons have class fa-5x */

i.fa-5x {
    color: #FFFFFF;
}

/* end section-extra styling */

/* contact-section styling */

#contact-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background: #607D8B;
    color: #FFFFFF;
    padding: 8rem 1.5rem;
}

#contact-section h2 {
    font-size: 1.25rem;
}

#contact-section p, .contact-section_email, .contact-section_button {
    font-size: 1rem;
}

.contact-section_container {
    text-align: center;
    max-width: 535px;
}

form {
    display: flex;
    flex-direction: column;
}

.contact-section_email, .contact-section_button {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
}

.contact-section_email {
    background: #CFD8DC;
    color: #212121;
    margin-bottom: 0.5rem; 
}

.contact-section_button {
    background: #FFEB3B; 
    color: #212121;  
    width: 100%;
}

.contact-section_button:hover {
    background: #455A64;
    color: #FFFFFF; 
}

/* end of contact-section styling */

.navigation{
    
    margin: 0 auto; 
    margin-top: 0;   
    height: auto;
    width: 100vw;
    padding: 0px;
    background:#607D8B;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-align: center;
    justify-content: space-evenly;
    color: #FFEB3B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}

.navigation ul li{
    margin: 0.2em 0px;
    list-style: none;
}
.navigation > .logo{
    align-self: flex-start;
    width: 5em;

}
.logo{
    border: 3px black solid;
    margin: auto 0;
}

.position {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    margin-left: 0;
    margin-right: 0;
}   
a.nav{
    text-decoration: none;
    color:rgb(252, 243, 164);
    text-transform: uppercase;
    padding: 6px;
 }
a.nav:hover {
    font-weight: bold;
}
.menu:hover{
    background: black;
    }

@media screen and (min-width: 600px){
    .section-extra {
        grid-template-columns: 1.5rem 1fr 1.5rem 1fr 1.5rem;
        grid-template-rows: 1.5rem repeat(4,1fr) 1.5rem;
        grid-template-areas: 
            ".   .   .   .   ."
            ". func1 . func2 ."
            ". func3 . func4 ."
            ". func5 . func6 ."
            ". func7 . func8 ."
            ".   .   .   .   .";
    }
}

@media screen and (min-width: 800px){
    .navigation {
        flex-direction: row;
        justify-content: space-between; 
}
   .menu{
        display: flex;
}
     a.nav {
        color: black;
        padding: 7px 10 px 6px;
        margin: 7px;
        flex-shrink: 1;
}
   .position{
       display: flex;
       align-items: center;
       padding-right: 10px;       
}    
   .nav{
       border-radius: 10px;
       margin-right: 5px;
       padding: 10px;
       flex-shrink: 1;
       background: #CFD8DC;
   }
   .logo{
       display: block;
       align-self: center;
       justify-self: flex-start;
       margin: 0;
   }
   a.nav:hover {
        font-weight: lighter;
        background: rgb(252, 243, 164);
    }
    .menu:hover {
        background: none;
}
    .section-extra {
        grid-template-columns: 4rem 1fr 2rem 1fr 4rem;
    }

}

#functionalities{
   
    margin-top: 96px;
    background: #CFD8DC;
}

i{       
    color: #757575;
}

.description{
    padding: 1rem;
}
div.p1, div.p2, div.p3, div.p4{
    padding: 1rem 0;
}

.section__functionalities{
    display: flex;
    list-style-type: none;
    justify-content: space-around;     
    padding: 2rem;   
    align-items: center; 
}

.ul__functionalities{
    flex: 1 1 25%;
    margin: 0;
    color: #212121;     
    text-align: center;
    align-items: center;
}
.about__us--heading{
    text-align: center;
    background: #CFD8DC;
    color: #212121;
    border-top: 2px solid #FFEB3B;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.photos{
    display: flex; 
    background: #CFD8DC;
    border-bottom: 2px solid #FFEB3B;
}
.photos div img{
    flex-shrink: 1;
    justify-content: space-between;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.photos img{
    width: 100%;   
}

.p1,.p2,.p3,.p4{
    text-align: center;    
}

.p1_paragraph, .p2_paragraph, .p3_paragraph, .p4_paragraph{
    font-size: 1rem;
    padding: 1rem 0;
}
@media only screen and (max-width: 599px) {
    .section__functionalities{
        flex-direction: column;
        text-align: center;
    }
}
    #functionalities{   
    margin-top: 80px;
    background: #CFD8DC;
}
    li.ul__functionalities{
    flex: 1 1 25%;
    padding: 1rem;  
    }
@media screen and (min-width: 800px){
    #functionalities{   
        margin-top: 75px;
}
}
@media only screen and (max-width: 800px){
    .photos{
        display: grid;
        grid-template-areas:
        "p1 p2"
        "p3 p4";
    }

    .p1{
        grid-area: p1;
    }
    .p2{
        grid-area: p2;
    }
    .p3{
        grid-area: p3;
    }
    .p4{
        grid-area: p4;
    }

}

@media screen and (min-width: 999px){
    .section-extra {
        grid-template-columns: 9rem 1fr 5rem 1fr 9rem;
    }
}
