.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.premier-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    background: #607D8B;
    color: #FFFFFF;
    padding: 8rem 0;
}

.premier-section_form {
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    justify-content: center;    
}

.premier-section_text {
    text-align: center;
    max-width: 90%;
}

.premier-section_button {
    background: #455A64;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 0; 
}

form {
    display: flex;
    flex-direction: column;
}

input[type="button"]{
    width: 100%;
}

@media (min-width: 600px) {
    .premier-section_form {
        flex-flow: row;
    }

    .premier-section_text {
        order: -1;
        text-align: right;
    }

    form, .premier-section_text {
        width: 40%;
    }
}