*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

#functionalities{
   
    margin-top: 96px;
    background: #CFD8DC;
}

i{       
    color: #757575;
}

div{
    padding: 1rem;
}

.section__functionalities{
    display: flex;
    list-style-type: none;
    justify-content: space-around;     
    padding: 2rem;   
    align-items: center; 
}

.ul__functionalities{
    flex: 1 1 25%;
    margin: 0;
    color: #212121;  
    
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 599px) {
    .section__functionalities{
        flex-direction: column;
        text-align: center;
    }
}#functionalities{
   
    margin-top: 230px;
    background: #CFD8DC;
}
    li.ul__functionalities{
    flex: 1 1 25%;
    padding: 1rem;  
    }
@media screen and (min-width: 800px){
    #functionalities{   
        margin-top: 96px;
}
}