*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

#functionalities{
    background: #CFD8DC;
}

i{       
    color: #757575;
}

.description{
    padding: 1rem;
}

div.p1, div.p2, div.p3, div.p4{
    padding: 0;
}

.section__functionalities{
    display: flex;
    list-style-type: none;
    justify-content: space-around;     
    padding: 2rem;   
    align-items: center; 
}

.ul__functionalities{
    flex: 1 1 25%;
    margin: 0;
    color: #212121;  
    
    text-align: center;
    align-items: center;
}


.about__us--heading{
    text-align: center;
    background: #CFD8DC;
    color: #212121;
    border-top: 2px solid #FFEB3B;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.photos{
    display: flex; 
    background: #CFD8DC;
    border-bottom: 2px solid #FFEB3B;
}

.photos div img{
    flex-shrink: 1;
    justify-content: space-between;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.photos img{
    width: 100%;   
}

.p1,.p2,.p3,.p4{
    text-align: center;
}

.p1_paragraph, .p2_paragraph, .p3_paragraph, .p1_paragraph{
    font-size: 17px;
}

@media only screen and (max-width: 599px) {
    .section__functionalities{
        flex-direction: column;
        text-align: center;
    }

    li.ul__functionalities{
    flex: 1 1 25%;
    padding: 1rem;  
}
}

@media only screen and (max-width: 800px){
    .photos{
        display: grid;
        grid-template-areas:
        "p1 p2"
        "p3 p4";
    }

    .p1{
        grid-area: p1;
    }
    .p2{
        grid-area: p2;
    }
    .p3{
        grid-area: p3;
    }.p4{
        grid-area: p4;
    }

}