@media all and (min-width: 0px) and (max-width: 600px){
    * {
        box-sizing: border-box;  
    }

    #hero{
    padding: 5%;
    margin-top: 10em;
    display: flex;
    background-color:#607D8B ;
    border-radius: 10%;
    width: 80% 
}

    .hero__top{
        
        flex-direction: column;
        text-align: center;
        margin-bottom: 5em;
    }

    .top__header1{
        margin-bottom: 1em;
    }

    .hero__bottom{
        
        flex-direction: column;
        text-align: center;
    }

    .bottom__header1{
        margin-bottom: 1em;
    }

    .bottom__header2 h1 a{
        text-decoration: none;
        color: #212121;
    }

    .bottom__header2 h1 a:hover{
        color: #030303b2;
        background: rgb(252, 243, 164); 
    }


}

@media all and (min-width: 601px) and (max-width: 900px){
    * {
        box-sizing: border-box;  
    }

    #hero{
    padding: 5%;
    margin-top: 10em;
    display: flex;
    width: 80% 
}

    .hero__top{
        
        flex-direction: column;
        text-align: center;
        margin-bottom: 5em;
    }

    .top__header1{
        padding: 5%;
        width: 15rem;
        border-radius: 10%;
        margin-bottom: 1em;
        background-color:#607D8B ;
    }

    .top__header2{
        padding: 5%;
        width: 20rem;
        border-radius: 10%;
        margin-bottom: 1em;
        background-color:#607D8B ;
    }

    .hero__bottom{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .bottom__header1{
        padding: 5%;
        border-radius: 10%;
        margin-bottom: 1em;
        background-color:#607D8B ;
    }

    .bottom__header2{
        padding: 5%;
        border-radius: 10%;
        background-color:#607D8B ;
        
    }

    .bottom__header2 h1 a{
        text-decoration: none;
        color: #212121;
    }

    .bottom__header2 h1 a:hover{
        color: #030303b2;
        background: rgb(252, 243, 164); 
    }


}

@media all and (min-width: 900px){
    * {
        box-sizing: border-box;  
    }

     #hero{
    padding: 5%;
    margin-top: 5em;
    background-image: url('las.jpg');
    background-size: cover;
    }

    


    .hero__header{
        background-color: rgba(207, 216, 220, 0.856);
        border-radius: 20%;
        width: 60%;
        
    }

    .hero__top{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 2em;   

    }

    

    .top__header1{
        padding: 5%;
        font-size: 1em;
        width: 20em;
        border-radius: 10%;
        margin-bottom: 1em;
        text-align: center;
    }

    .top__header2{
        
        
        padding: 5%;
        width: 20em;
        border-radius: 10%;
        margin-bottom: 1em;
        
    }

    .hero__bottom{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .bottom__header1{
        padding: 5%;
        width: 30em;
        border-radius: 10%;
        margin-bottom: 1em;
    }

    .bottom__header2{
        
        padding: 5%;
        width: 20em;
        border-radius: 10%;
    }

    .bottom__header2 h1 a{
        text-decoration: none;
        color: #212121;
    }

    .bottom__header2 h1 a:hover{
        color: #030303b2;
        background: rgb(252, 243, 164); 
        border-radius: 20%;
    }

}